{# src/Osel/CoreBundle/Resources/views/Core/agenda.html.twig #}

{% extends "OSELCoreBundle::layout.html.twig" %}

{% block title %}
    Agenda
{% endblock %}

{% block body %}
	<div class="row">
        <div class="col-md-12" style="align-content:center;">
            <div id="agenda">
		<iframe src="https://www.google.com/calendar/embed?src=secretaire%40osel.be&ctz=Europe/Brussels" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
	</div>


{% endblock %}
			