<div class="row">
    <div style="display: block; float: left;"><img src="https://www.membres.osel.be/img/logo_osel.png" width="300"></div>
    <div style="margin-right:0px;">
        <h1>Mise à jour du site</h1>
        <p>Nous sommes en train de mettre le site à jour. Veuillez réessayer plus tard :)</p>
    </div>
</div>