{# src/Osel/UserBundle/Resources/views/User/view.html.twig #}

{% extends "OSELCoreBundle:Core:layout.html.twig" %}

{% block title %}
    Pas de weekend OSEL
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
    <section class="bg-img-responsive">
        <div class="jumbotron" style="padding:0px;">
            <div class="container tint">
                <h1 style="text-align:center;"><strong>Pas de weekend</strong></h1>

                </div>

                <h4 style="text-align:center;"><strong>Il n'y a pas de weekend prévu pour le moment, les infos suivront</strong></h4>
            </div>
        </div>
    </section>



{% endblock %}